<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
        Login
      </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <form action="/user/login" method="post" class="box">
                    <div class="control">
                        <label>Username</label>
                        <input type="text" name="email" class="input" />
                        <br/>
                    </div>
                    <div class="control">
                        <label>Password</label>
                        <input type="password" name="password" class="input"/>
                    </div>
                    <div class="control">
                        <input type="submit" value="Submit" class="button is-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
