<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
        Register
      </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-6 is-offset-3">
                <form action="/user/register" method="post" class="box">
                    <div class="control">
                        <label>Email (this will be your username)</label>
                        <input type="text" name="email" class="input" required="true" />
                        <br/>
                    </div>
                    <div class="control">
                        <label>Password</label>
                        <input type="password" name="password" class="input" required="true"  />
                    </div>
                    <div class="control">
                        <label>Phone Number</label>
                        <input type="text" name="phone" class="input" />
                    </div>
                    <div class="control">
                        <input type="submit" value="Submit" class="button is-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
