<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Ad deleted
      </h1>
      <h2 class="subtitle">
        Successfully deleted your ad
      </h2>
    </div>
  </div>
</section>
