<html>
<head>
    <title>This mah website!</title>
</head>

<body>

    <div style = 'position: absolute; top: 0; height: 40px;'>
        <h3>This is the header</h3>
    </div>

    <div style='margin-top: 60px;'>
        {{{ body }}}
    <div style = 'position: absolute; bottom: 0; height: 40px;'>
        <h3>This is the footer</h3>
    </div>

</body>

</html>
