<section class="hero is-warning is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        404
      </h1>
      <h2 class="subtitle">
        Looks like we can't find that!
      </h2>
    </div>
  </div>
</section>
